<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <thead>
            <th>Name</th>
            <th>Date</th>
            <th>Position</th>
            <th>Department</th>
            <th>Email</th>
        </thead>
        <tbody>
            <tr>
                <td>Elliott</td>
                <td>01/01/1993</td>
                <td>Game Developer</td>
                <td>Game Operations</td>
                <td>Jones.Elliott@Outlook.com</td>
            </tr>
            <tr>
                <td>Jimmy</td>
                <td>12/25/1982</td>
                <td>Master Fiddler</td>
                <td>Fiddlers</td>
                <td>Jimmy.Fiddler@Outlook.com</td>
            </tr>
        </tbody>
    </table>

</body>
</html>